- current_user.competitions.where(campaign_id: @campaign.id).first.picks.where(match_id: match).first

.row
  .small-12.columns
    %h4
      = t("campaigns.week") + " #" + week.week_number.to_s
      - if allow_picks
        %span.label.radius=t("campaigns.make_predictions")
    %h6.subheader= week.earliest_match.strftime("%a %b %d, %Y") + " - " + week.latest_match.strftime("%a %b %d, %Y")

.row
  .small-12.columns
    %table
      %thead
        %tr
          %th.text-center.team_picker= t("matches.home")
          - if show_results
            %th.text-center.draw_picker= t("matches.score")
          - else
            %th.text-center.draw_picker= t("matches.draw")
          %th.text-center.team_picker= t("matches.away")
      %tbody
        - week.matches.order(:match_time).each do |match|
          - home_tm = Team.find(match.home_team_id)
          - away_tm = Team.find(match.away_team_id)
          %tr{id: match.id}
            %td.text-center{ class: "#{allow_picks ? 'pickable' : ''}", :"data-match-id" => match.id, :"data-result" => "H", id: "#{match.id}H"}
              = image_tag home_tm.logo, width: "50em"
              %br
              %span= home_tm.name
            %td.text-center{ class: "#{allow_picks ? 'pickable' : ''} #{ show_results ? 'score_box' : ''}", :"data-match-id" => match.id, :"data-result" => "D", id: "#{match.id}D"}
              - if show_results
                = match.home_score.to_s + "-" + match.away_score.to_s
              - else
                %span= "vs."
            %td.text-center{ class: "#{allow_picks ? 'pickable' : ''}", :"data-match-id" => match.id, :"data-result" => "A", id: "#{match.id}A"}
              = image_tag away_tm.logo, width: "50em"
              %br
              %span= away_tm.name

/ .row
/   .small-12.columns
/     %table
/       %thead
/         %tr
/           %th.text-center{colspan: 2}= t("matches.home")
/           %th.text-center= "X"
/           %th.text-center{colspan: 2}= t("matches.away")
/       %tbody
/         - week.matches.order(:match_time).each do |match|
/           - home_tm = Team.find(match.home_team_id)
/           - away_tm = Team.find(match.away_team_id)
/           %tr
/             %td.text-right= home_tm.name
/             %td.team_logo
/               = image_tag home_tm.logo, width: "100%"
/             %td.text-center
/               %small= "vs."
/             %td.team_logo
/               = image_tag away_tm.logo, width: "100%"
/             %td= away_tm.name