- order_logic = type == "week" ? "score DESC" : "total DESC"
- if rankings
  %table.leaderboard
    %thead
      %tr
        %th= #Position header
        %th= t("campaigns.rankings.competitor")
        - if type == "week"
          %th= t("campaigns.rankings.score")
        - else
          %th= t("campaigns.rankings.total")
    %tbody
      - position = 0
      - rankings.order(order_logic).each do |ranking|
        - position += 1
        %tr
          %td.position= position
          %td.competitor= ranking.competition.user.first_name
          - if type == "week"
            %td.score= "+ #{ranking.score}"
          - else
            %td.total= ranking.total
